<html>
<head></head>
<body>
	<p>Guess a number within 0 and 100</p>
	<form>
		<input type="text" name="guess" />
		<input type="submit" value="Guess!" />
	</form>
	<p><%= message %></p>
</body>
</html>